body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 8px;
  border: 3px solid #eee;
  font-size: 24px;
  color: #555;

  &__name {
    font-weight: 700;
  }

  &__birth {
    margin-left: 5px;
  }
}
